<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Needed so your Python client (or any network client) can connect -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BODY_SENSORS"/>



    <!-- ARCore camera requirements -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.ar" android:required="true" />
    <uses-feature android:name="android.hardware.camera"    android:required="false" />

    <application
        android:name="com.sunmapper.SunMapperApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.SunMapper"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.ar.API_KEY"
            android:value="${ARCORE_API_KEY}"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${ARCORE_API_KEY}" />

        <!-- Your main AR Activity -->
        <activity
            android:name="com.sunmapper.SunlightMapActivity"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/Theme.SunMapper">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tell ARCore this app requires AR -->
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>
